{% extends "blog/base.html" %}
{% load blog_tags %}
{% load embed_video_tags %}
{% block title %}My Blog{% endblock %}

{% block content %}
{% for post in posts %}
    <div class="row">

<div class="col-md-4">
    <div class="animated zoomInLeft">
<!--Card-->
<div class="card card-cascade wider">

    <!--Card image-->
    <div class="view overlay hm-white-slight">
        <img src="{{ post.image_dog.url }}" class="img-fluid" alt="{{ post.alt_image }}">
        <a>
            <div class="mask">ddddd</div>
        </a>
    </div>
    <!--/.Card image-->

    <!--Card content-->
    <div class="card-block text-xs-center">
        <!--Category & Title-->
        <h4><a href="{{ post.get_absolute_url }}">Мысли Великих</a></h4>
        <!--Description-->
        <p class="card-text">{{ post.citata }}</p>
    <!--/.Card content-->
</div>
</div>


</div>
</div>
    <div class="col-md-4">
    <div class="embed-responsive embed-responsive-16by9">
    {% video post.video 'small' %}
        </div>

<!--Panel-->
<div class="card card-block">
    <h5 class="card-title">Анекдот дня</h5>
    <p class="card-text">{{ post.anecdot }}</p>

    <a href="#" class="card-link">MyProjectGallery</a>
    <a href="#" class="card-link">Моя ГаллереяПроектов</a>
</div>
<!--/.Panel-->

    </div>
<!--/.Card-->
    <div class="col-md-4">
    <!--Card-->
    <div class="animated zoomInRight">
<div class="card card-cascade wider">

    <!--Card image-->
    <div class="view overlay hm-white-slight">
        <img src="{{ post.image.url }}" class="img-fluid" alt="{{ post.alt_image_dog }}">
        <a>
            <div class="mask">ddddd</div>
        </a>
    </div>
    <!--/.Card image-->

    <!--Card content-->
    <div class="card-block text-xs-center">
        <!--Category & Title-->
        <h4><a href="{{ post.get_absolute_url }}">{{ post.title }}</a></h4>
        {% if tag %}
        <h4 class="card-title"><strong><a href=""></a></strong></h4>
        {% endif %}
    <p class="tags">

            {% for tag in post.tags.all %}
                <a href="{% url "blog:post_list_by_tag" tag.slug %}"></a>
                {% if not forloop.last %}, {% endif %}
            {% endfor %}
        </p>
         <a href="{{ post.get_absolute_url }}">{{ post.body|markdown|truncatewords_html:10 }}</a>
        <!--Description-->

<div class="chip">
    <img src="http://mdbootstrap.com/images/avatars/img%20(3).jpg" alt="Contact Person">


        <small class="text-muted"><em> {{ post.publish }} by {{ post.author }}</em></small>
</div>



    <!--/.Card content-->
</div>
</div>


</div>
    </div>
    </div>
{% endfor%}

    <p>
    {% include "pagination.html" with page=posts %}</p>


{% endblock %}